<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">

<div class="col-md-6 col-lg-6">
    <form action="/app/addpatient" method="post">
        <!-- First name input -->
        <div class="form-group row">
            <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">First Name</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <input id="first-name" class="form-control" style="width: 100%;" type="text" name="firstName" required="true" placeholder="Enter first name...">
            </div>
        </div>

        <!-- Last name input -->
        <div class="form-group row">
            <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Last Name</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <input class="form-control" style="width: 100%;" type="text" name="lastName" required="true" placeholder="Enter last name...">
            </div>
        </div>

        <!-- Hospital number input -->
        <div class="form-group row">
            <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Hospital no.</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <input class="form-control" style="width: 100%;" type="text" name="hospitalNumber" required="true" placeholder="Enter Hospital no...">
            </div>
        </div>

        <!-- Date of birth -->
        <div class="form-group row">
            <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Date of birth</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <input class="form-control" style="width: 100%;" type="text" name="dateOfBirth" required="true" placeholder="DD/MM/YYYY">
            </div>
        </div>



        <!-- Sex -->
        <div class="form-group row">
            <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Sex</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary active" style="margin:0px;">
                    <input id="male-radio" type="radio" name="sex" value="male" autocomplete="off" checked>Male
                  </label>
                  <label class="btn btn-primary" style="margin:0px;">
                    <input id="female-radio" type="radio" name="sex" value="female" autocomplete="off"> Female
                  </label>
                </div>
            </div>
        </div>

    	<table id="add-new-patient" class="table table-striped table-bordered" cellspacing="0" width="100%">
    		<!-- JavaScript works here! -->
    	</table>
    	<input class="btn btn-success" style="float: right;" type="Submit" name="Submit" value="Add patient">
    </form>
</div>

<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/addpatient.js"></script>
