<h2 class="page-header">Add new user that can use the application</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div>
    <form method="post" action="/app/adduser" center="true">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password">
      </div>
      <p></p>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
