<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->

<div class="col-lg-6">

	<table id="patients-waiting" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>

</div>

<div class="col-lg-6">

<table id="patients-waiting2" class="table table-striped table-bordered" cellspacing="0" width="100%">
        
</table>

</div>

<!-- <script type="text/javascript" src="/js/jquery-1.12.4.js"></script> -->
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>