<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-hotel fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{patientsInRooms}}</div>
                        <div>Patients with rooms</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-hourglass-start fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{freeRooms}}</div>
                        <div>Free rooms</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-wheelchair fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{patientsWaiting}}</div>
                        <div>Patients waiting</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h4 class="page-header" style="margin-top: 0px; padding: 0px;"></h4>


<!-- Table with patients in rooms-->
<div class="col-lg-6">
	<table id="patients-waiting" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
</div>

<!-- Table with patients waiting to get a room-->
<div class="col-lg-6">
    <table id="patients-waiting2" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
</div>

<!-- <script type="text/javascript" src="/js/jquery-1.12.4.js"></script> -->
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>
