<h2 class="page-header">Create new patient</h2>
<p>
    Select patient diseases:
</p>
<form action="/app/addpatient" method="post">
  <input type="checkbox" name="d0" >Adenovirus<br>
  <input type="checkbox" name="d1" >Campylobacter<br>
  <input type="checkbox" name="d2" >CJD<br>
  <input type="checkbox" name="d3" >Cryptococcus<br>
  <input type="submit" value="Submit">
</form>
