<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->

<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading" id="patientsInRooms">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-hotel fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="patients-with-rooms-live" class="huge"></div>
                        <div>Patients with rooms</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-child fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="patients-waiting-live" class="huge"></div>
                        <div>Patients waiting</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
        <div class="panel panel-orange">
            <div class="panel-heading" id="freeRooms">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-hospital-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="free-rooms-live" class="huge"></div>
                        <div>Free rooms</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table with patients in rooms-->
<div style="padding-left:0px;" class="col-lg-6 col-md-6">
	<table id="patients-in-hospital" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
</div>

<!-- Table with patients waiting to get a room-->
<div class="col-lg-4 col-md-4">
    <table id="patients-waiting" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
</div>

<!-- Table with free rooms-->
<div style="padding-right:0px;" class="col-lg-2 col-md-2">
    <table id="free-rooms" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
</div>


<!-- <script type="text/javascript" src="/js/jquery-1.12.4.js"></script> -->
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>
