<h2 class="page-header">Create new patient</h2>
<p>
    Select patient diseases:
</p>
<form action="/app/addpatient" method="post">
  <input type="checkbox" name="PD[]" value="Adenovirus" >Adenovirus  -- 20<br>
  <input type="checkbox" name="PD[]" value="Campylobacter" >Campylobacter  -- 10<br>
  <input type="checkbox" name="PD[]" value="CJD" >CJD -- 10<br>
  <input type="checkbox" name="PD[]" value="Cryptococcus" >Cryptococcus -- 5<br>
  <input type="submit" value="Submit">

  {{#if score}}
    <p>The score is {{score}}</p>
  {{/if}}
</form>
