<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">

<div class="row">
    <!-- Auxiliary column -->
    <div class="col-sm-12 col-md-4 col-md-push-8 col-lg-3 col-lg-push-6">
        <!-- The score -->
        <div class="row">
            <div id="panel-score" class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-child fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div id="patient-score" class="huge"></div>
                            <div>Patient score</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <input class="form-control" style="width: 100%; text-align: center;" id="patient-room-disabled" type="text" disabled>
        </div>

        <br>

        <div class="row">
            <a id="delete-button" class="btn btn-danger btn-lg btn-block">Delete patient</a>
        </div>
    </div>

    <!-- Disease table column -->
    <div class="col-sm-12 col-md-8 col-md-pull-4 col-lg-6 col-lg-pull-3">
        <form id="form-patient" method="post">
            <!-- First name-->
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">First name</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" style="width: 100%;" id="first-name-disabled" type="text" disabled>
                </div>
            </div>

            <!-- Last name -->
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Last name</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" style="width: 100%;" id="last-name-disabled" type="text" disabled>
                </div>
            </div>

            <!-- NHS number-->
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Hospital no.</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" style="width: 100%;" id="hospitalNumber-disabled" type="text" disabled>
                </div>
            </div>

            <!-- Date of birth -->
            <!-- Sex -->
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Date of birth</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" style="width: 100%;" id="date-of-birth-disabled" type="text" disabled>
                </div>
            </div>

            <!-- Sex -->
            <div class="form-group row">
                <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Sex</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" style="width: 100%;" id="patient-sex-disabled" type="text" disabled>
                </div>
            </div>

        	<table id="diagnosis" class="table table-striped table-bordered" cellspacing="0" width="100%">
        		<!-- JavaScript works here! -->
        	</table>
        	<input class="btn btn-primary" style="float: right;" type="Submit" name="Submit" value="Update patient">
        </form>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/patientPage.js"></script>
