<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">


    <!-- Diseases manager -->
    <div class="col-md-4 col-lg-4" style="padding-right: 30px; padding-left: 30px;">
         <div class="row">
            <!-- Add new disease -->
            <h4 style="margin-top: 0px;">Add new disease in the system</h4>
            <form action="/app/adddisease" method="post">
                <div class="form-group row">
                    <label class="col-sm-5 col-md-5 col-lg-5 col-form-label">Disease name</label>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <input class="form-control" style="width: 100%;" type="text" name="diseaseName" required="true" placeholder="Enter new disease name...">
                    </div>
                </div>

                <!-- Last name input -->
                <div class="form-group row">
                    <label class="col-sm-5 col-md-5 col-lg-5 col-form-label">Disease score</label>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <input class="form-control" style="width: 100%;" type="number" name="diseaseScore" required="true" placeholder="Enter new disease score...">
                    </div>
                </div>

            	<input class="btn btn-success" style="float: right;" type="Submit" name="Submit" value="Add disease">
            </form>
        </div>

        <hr style="border-top: dotted 1px;" />

        <div class="row">
        <!-- Delete diseases -->
            <h4 style="margin-top: 0px;">Delete diseases from the system</h4>
            <form action="/app/deletediseases" method="post">
                <table id="diseases-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <!-- JavaScript works here! -->
                </table>

                <input class="btn btn-danger" style="float: right;" type="Submit" name="Submit" value="Delete diseases">
            </form>
        </div>
    </div>


    <!-- Rooms manage -->
    <div class="col-md-4 col-lg-4" style="padding-right: 30px; padding-left: 30px;">
        <!-- Add new room -->
        <div class="row">
            <h4 style="margin-top: 0px;">Add new room in the system</h4>
            <form action="/app/addroom" method="post">
                <div class="form-group row">
                    <label class="col-sm-5 col-md-5 col-lg-5 col-form-label">Room name</label>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <input class="form-control" style="width: 100%;" type="text" name="roomName" required="true" placeholder="Enter new room name...">
                    </div>
                </div>

            	<input class="btn btn-success" style="float: right;" type="Submit" name="Submit" value="Add room">
            </form>
        </div>

        <hr style="border-top: dotted 1px;" />

        <!-- Delete rooms -->
        <div class="row">
            <h4 style="margin-top: 0px;">Delete rooms from the system</h4>
            <form action="/app/deleterooms" method="post">
                <table id="rooms-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <!-- JavaScript works here! -->
                </table>

                <input class="btn btn-danger" style="float: right;" type="Submit" name="Submit" value="Delete rooms">
            </form>
        </div>
    </div>


   <div class="col-md-4 col-lg-4" style="padding-right: 30px; padding-left: 30px;">
        <div class="row">
             <h4 style="margin-top:0px">Add a new user</h4>
             <form method="post" action="/app/adduser" center="true">
                 <div class="form-group row">
                     <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Username</label>
                     <div class="col-sm-9 col-md-9 col-lg-9">
                          <input class="form-control" style="width: 100%;" type="text" name="username" required="true" placeholder="Enter username...">
                     </div>
                 </div>
                 <div class="form-group row">
                     <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Password</label>
                     <div class="col-sm-9 col-md-9 col-lg-9">
                          <input class="form-control" style="width: 100%;" type="password" name="password" required="true" placeholder="Enter password...">
                     </div>
                 </div>
                 <button type="submit" style="float: right;" class="btn btn-primary">Add user</button>
             </form>
        </div>
   </div>



<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/systemSettings.js"></script>
